*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
.logo h2{
    font-size: 45px;
    font-weight: 900px;
}
.colour-orange{
    color: #FD6E0A;
}
nav{
    width: 71%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: black;
    font-size:  20px;
}
.btn{
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}